.env {
  padding-top: 5px;
  padding-bottom: 5px;
  /*border: 1px solid #f0f0f0;*/
  margin-bottom: 5px;
}
.env h3{
    margin-top: 10px;
}
.env:hover {
  background: #fafafa;
}
.env.open{
  background: #e5ffe5;
}
.env.taken{
  background: #ffeeee;
}
@keyframes myfirst
{
0% {background: white;}
50% {background: #eeeeff;}
100% {background: white;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {background: white;}
50% {background: #eeeeff;}
100% {background: white;}
}
.env.busy, .loading{
  /*background: #eeeeff;*/
  animation: myfirst 1s infinite;
  -webkit-animation: myfirst 1s infinite; /* Safari and Chrome */
}
.deploy-input-group{
    width: 300px;
}
.filter-list button{
    margin: 3px;
}
